<?xml version="1.0" encoding="UTF-8"?>

<!--
# %F - file name (example Main.java)avoided unless execution speed is not an issue.
# %M – method (avoided unless execution speed is not an issue.)
# %L - line number in file (avoided unless execution speed is not an issue.)
# %C – class name (avoided unless execution speed is not an issue.)
# %p - priority name
# %c - category name i.e. stdout, console, logfile and etc
# %d - date write record
# %d{} - date write record , options {hh:mm:ss} or {HH:MM:SS} or combination
# %m - message
# %n - end line \n working in any way
# OFF< TRACE< DEBUG< INFO< WARN< ERROR< FATAL< ALL
-->

<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="errorLog" fileName="logs/errors/application-error.log"
                     filePattern="logs/archive/application-error-%d{yyyy-MM-dd}-%i.log.gz">
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="warnLog" fileName="logs/warnings/application-warning.log"
                     filePattern="logs/archive/application-warning-%d{yyyy-MM-dd}-%i.log.gz">
            <LevelRangeFilter minLevel="WARN" maxLevel="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="infoLog" fileName="logs/info/application-info.log"
                     filePattern="logs/archive/application-info-%d{yyyy-MM-dd}-%i.log.gz">
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="debugLog" fileName="logs/debug/application-debug.log"
                     filePattern="logs/archive/application-debug-%d{yyyy-MM-dd}-%i.log.gz">
            <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!--Logger name="ua.training.controller.Servlet" additivity="false">
            <AppenderRef ref="errorLog"/>
            <AppenderRef ref="warnLog"/>
            <AppenderRef ref="infoLog"/>
            <AppenderRef ref="debugLog"/>
        </Logger>

        <Logger name="ua.training.controller.filter.LoginFilter" additivity="false">
            <AppenderRef ref="errorLog"/>
            <AppenderRef ref="warnLog"/>
            <AppenderRef ref="infoLog"/>
            <AppenderRef ref="debugLog"/>
        </Logger>

        <Logger name="ua.training.controller.filter.LoginService" additivity="false">
            <AppenderRef ref="errorLog"/>
            <AppenderRef ref="warnLog"/>
            <AppenderRef ref="infoLog"/>
            <AppenderRef ref="debugLog"/>
        </Logger-->

        <Root level="ALL">
            <!--AppenderRef ref="Console"/-->
            <AppenderRef ref="errorLog"/>
            <AppenderRef ref="warnLog"/>
            <AppenderRef ref="infoLog"/>
            <AppenderRef ref="debugLog"/>
        </Root>
    </Loggers>
</Configuration>